body {
    overflow-x: hidden;
}

.full { 
    padding: 0;
}

.timeline {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.timeline::after {
    content: "";
    position: absolute;
    background: linear-gradient(to bottom, #ccc, #ccc);
    width: 2px;
    opacity: 0.5;
    top: 0;
    bottom: 0;
    left: 50%;
    z-index: -1;
}

.timeline-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  max-width: 100%;
  gap: 50px;
  margin: 0 20px 35px 20px

}

.timeline-item {
    position: relative;
}

.timeline-item::after {
    content: '';
    background: #fff;
    left: 49.64%;
    bottom: 50%;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #00d4ff;
    position: absolute;
    transform: translate(-50% -50%);
}

.project {
    margin-top: 10px;
    overflow: hidden;
}


.content {
    margin-top: 10px;
    border: 1px transparent #e4e4e4;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.content h1 {
    background: linear-gradient(90deg,rgba(0, 106, 138, 1) 0%, rgba(11, 137, 176, 1) 35%, rgba(0, 212, 255, 1) 100%);;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.content p {
    font-size: 25px;
    line-height: 1.5;
    padding: 10px;
    margin: 0 10px 0 10px;
}

.project img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #ccc;
    transition: all 300ms ease-in-out;
    display: block;
}

.project img:hover {
    transform: translate(-3%, -3%) scale(1.2) rotate(5deg)
}

.service-button {
    background: linear-gradient(90deg,rgba(0, 106, 138, 1) 0%, rgba(11, 137, 176, 1) 35%, rgba(0, 212, 255, 1) 100%);;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 300ms ease-in-out;
}

.service-button h4 {
    font-size: 25px;
    color: #fff;
}

.service-button:hover{
    background: linear-gradient(90deg,rgba(0, 212, 255, 1) 0%, rgba(11, 137, 176, 1) 35%, rgba(0, 106, 138, 1) 100%);
    transform: scale(1.05);
}

.timeline-item:nth-of-type(even) .project {
  order: 2;
}

.timeline-item:nth-of-type(even) .content {
  order: 1;
}

@media screen and (max-width: 1200px) {
    .timeline::after{
        content: none;
        display: none;
    }

    .timeline-item::after {
        content: none;
        display: none;
    }

    .timeline-item {
        display: block;
    }

    .back-to-top {
        display: none;
    }

    .full {
        overflow: hidden;
    }

    .project img {
        height: auto;
    }
}

@media screen and (max-width: 1800px){
    body {
        overflow-x: hidden;
    }

    .project img {
        height: 500px;
    }

    .content {
        height: 500px;
        overflow-y: visible;
    }

    .content h1 {
        font-size: 30px;
    }

    .back-to-top {
        display: none;
    }
}







