*

.depoimentos{
width: 100%;
padding: 50px 20px;
margin: 0 auto;

max-width: 900px;
position: relative;

overflow: hidden;
}

.depoimentos .slide{
    padding: 40px 60px;
    cursor: grab;
}

.depoimentos .slide:active{
    cursor:grabbing;
}

.depoimentos i{
    font-size: 90px;
    color:#ccc;
}


.depoimentos p.depoi-txt {
    font-weight: 300;
    margin-bottom: 40px;

}


.slide .person img{
    width: 80px;
    height: 80px;

}

.slide .person{
    display: flex;
    align-items: center;
    gap: 20px;
}

.slide .person p.nome-person{
    font-size: 18px;
    font-weight: 600;
}

.slide .person p.func-person{
font-size: 14px;
}